/*
	style.css
	Title: Canvas Enrollments API - List Users' Enrollments
	Author: Nazmus
	URL: https://www.easyprogramming.net
	Instructure Docs: https://canvas.instructure.com/doc/api/enrollments.html
	Github: https://github.com/naztronaut/

	Custom CSS file for Enrollments API Script
*/

#resultTitle{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 15px;
}

#output{
    padding-bottom: 25px;
}

#multiples{
    margin-bottom: 25px;
}
/*
table img {
    width: 50px;
    height: auto;
}*/
#spinner{
    display: none;
}